.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 160px;
}

.main {
    padding-bottom: 56px;
}

.p {
    margin-top: 12px;
    font-weight: 500;
}

.img img {
    max-width: 120px;
}
