.container {
}

.p {
    text-align: center;
    margin-top: 12px;
    font-weight: 500;
}

.img {
    padding: 20px;
}

.img img {
    width: 120px;
    height: 120px;
}

.container .img:last-child {
    margin-bottom: 0;
}