.header {
    font-weight: 500;
    top: 0;
    position: sticky;
    width: 100%;

    z-index: 10;

    background: var(--white);
}

/* hr {
    border-top: 1px solid var(--pearl-gray);
    border-left: none;
    border-right: none;
} */

@media (max-width: 425px) {
    .header {
        position: static;
    }
    .bottom {
        display: none !important;
    }
}
