.content {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    border-bottom: 1px solid var(--gray-border);
}

.ul {
    list-style-type: none;
}

.title {
    font-weight: bold;
    margin-bottom: 12px;
}

.textAlign {
    text-align: right;
}

.apps {
    display: flex;
    grid-gap: 15px;

    list-style: none;
}

.icon {
    background: var(--gray-border);
    transition: all 0.4s ease-out;
    color: var(--white);
}

.icon:hover {
    background: var(--gray-border-hover);
}

.a .icon {
    height: 27px;
    width: 145px;
    padding: 8px 15px;
    border-radius: 6px;
}

.socials {
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    color: var(--white);
}

.mobile {
    display: none;
}

.desk {
    color: var(--white);
}

@media (max-width: 768px) {
    .mobile {
        display: block;
    }

    .desk {
        display: none;
    }

    .mobileSocials {
        flex-direction: column;
        grid-row-gap: 20px;
        align-items: center;
    }

    .apps {
        flex-direction: column;
    }

    .socialsContainer > .apps {
        flex-direction: row;
        justify-content: center;
    }

    .content div .icon {
        width: 100%;
        box-sizing: border-box;
        height: 40px;
    }

    .content div {
        width: 100%;
    }
}
