.container {
    max-width: 150px;
}

.content {
    display: flex;
    flex-direction: column;
}

.img {
    height: 185px;
    width: 180px;
}

.btn {
    max-height: 50px;
    align-self: end;
}

.price {
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.prevPrice {
    color: var(--light-gray-hover);
    text-decoration: line-through;
}

.curPrice {
    font-weight: 500;
    margin-right: 10px;
}

.description {
    line-height: 22px;
}

.h2 {
    padding: 20px 0 20px;
}

.wrapper>a {
    grid-area: a;
}

.wrapper>.container {
    grid-area: div;
}

.wrapper>button {
    grid-area: button;
}

.wrapper {
    display: grid !important;
    grid-template-areas:
        "a div"
        "a  div"
        "a  button";
}

@media (max-width: 425px) {
    .img {
        max-height: 132px;
        max-width: 130px;
    }

    .wrapper {
        display: grid !important;
        grid-template-areas:
            "a div"
            "a  div"
            "button  button";
    }

    .price {
        white-space: nowrap;
        justify-content: space-between;
    }

    .description {
        max-height: 44px;
        overflow: hidden;
    }

    .curPrice {
        margin-right: 0;
    }
}