.container {
    max-width: 150px;
}

.content {
    display: flex;
    flex-direction: column;
}

.discount {
    display: flex;
    border-radius: 0.4rem;
    overflow: hidden;
    line-height: 1.7rem;
    color: #fff;
    width: 111px;

    margin-bottom: 15px;
}

.discountText {
    background-color: rgb(38, 42, 43);
}

.img {
    height: 185px;
    width: 180px;
}

.line {
    position: relative;
    font-weight: 600;
    background: linear-gradient(97.09deg, #12a2b7 16.93%, #4acfd7 80.69%);
}

.line::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2.1rem 0.5rem 0 0;
    border-color: rgb(38, 42, 43) transparent transparent transparent;
}

.count {
    padding: 0 10px;
}

.price {
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.prevPrice {
    color: rgb(162, 154, 142);
    text-decoration: line-through;
}

.curPrice {
    font-weight: 500;
    margin-right: 10px;
}

/* .curPrice::after {
    content: "\20bd";
} */

.description {
    line-height: 22px;
}

.h2 {
    padding: 20px 0 20px;
}

.wrapper > a {
    grid-area: a;
}

.wrapper > .container {
    grid-area: div;
}

.wrapper > button {
    grid-area: button;
}

.wrapper {
    display: grid !important;
    grid-template-areas:
        "a div"
        "a  div"
        "a  button";
}

@media (max-width: 425px) {
    .img {
        max-height: 132px;
        max-width: 130px;
    }

    .wrapper {
        display: grid !important;
        grid-template-areas:
            "a div"
            "a  div"
            "button  button";
    }

    .price {
        white-space: nowrap;
        justify-content: space-between;
    }

    .description {
        max-height: 44px;
        overflow: hidden;
    }

    .curPrice {
        margin-right: 0;
    }
}
