.headerBottom{
	display: flex;
	align-items: center;
	height: 20px;
	padding: 10px 0;
    background: var(--white);
}

.headerBottomContainer{
	width: 100%;
	position: relative;
	overflow: hidden;
	height: 100%;
	user-select: none; 
	cursor: pointer;

}

.headerBottomSlider{
	display: flex;
	width: 100%;
	white-space: nowrap;
}

.headerBottomSlide{
	padding-right: 15px;
}

.headerBottomSlide:last-child{
	margin-right: 0;
}

.headerBottomBtn{
	margin: 0 10px;
}