.img {
    width: 188px;
    height: 188px;
}

.content {
    padding: 24px 0;
    width: 100%;
    display: flex;
    grid-column-gap: 50px;
}

.price {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
}

.prevPrice {
    color: var(--light-gray-hover);
    text-decoration: line-through;
}

.curPrice {
    font-weight: 500;
    margin-right: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px 80px 0 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.remove {
    cursor: pointer;
    transition: 0.2s ease-out;
    white-space: nowrap;
}

.remove:hover {
    color: var(--gray-hover);
}

.active {
    background: var(--white);
    border: 1px solid var(--red);
    color: var(--red)
}

.active .btnText{
    color: var(--red)
}

.active svg {
    color: var(--red);
}

.active:hover svg {
    color: var(--white);
}

.active:hover .btnText{
    color: var(--white);
}

.icon {
    margin-right: 10px;
}

@media (max-width: 767px) {
    .content {
        grid-column-gap: 10px;
    }

    .container {
        padding: 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .price {
        margin-bottom: 0;
    }

    .img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 425px) {
    .container {
        grid-column-gap: 6px;
    }

    .btn {
        padding: 5px 10px;
    }

    .curPrice {
        margin-right: 0;
    }

    .price {
        flex-wrap: wrap;
    }

    .curPrice,
    .prevPrice {
        white-space: nowrap;
    }

    .btnText {
        display: none;
    }
}