.headerTopColorDark{
	background-color: var(--dark-gray);
}

.headerTop{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 8px;
	padding-bottom: 8px;
	white-space: nowrap
}

.headerTopNavBar{
	display: flex;
	align-items: center;
}

.headerTopNavBar > a{
	margin: 0 10px;
}