.main {
    min-height: 100vh;
}

.content {
    padding: 40px 32px;
    margin: 0 auto;
    border-radius: 0.8rem;
    width: 300px;
    text-align: center;
}

.btn,
.content {
    border: 1px solid var(--pearl-gray);
}

.input {
    margin: 20px 0;
}

.container{
    position: relative;
}

.message{
    position: absolute;
    color: var(--error);
    top: 0px;
}

.indicator{
    border: 1px solid var(--error);
}

.option{
    margin-top: 24px;
}