.main {
    padding-top: 20px;
    padding-bottom: 40px;
    min-height: 100vh;
}

.categories {
    max-width: 360px;
    width: 100%;
}

.categoriesLi {
    padding: 12px 0;
    padding-left: 12px;
    width: 100%;
    box-sizing: border-box;
    border-right: 2px solid var(--pearl-gray);
}

.subcategories {
    background-color: var(--white);
    width: 100%;
    padding: 40px 60px;
    /* display: flex; */
}

.subcategoriesLi {
    margin: 6px 0;
}

.content {
    display: flex;
    justify-content: space-between;
}

.active {
    background-color: var(--white);
    border-right: 2px solid var(--red);
}

.link {
    color: inherit;
}
