.discount {
    display: flex;
    border-radius: 0.4rem;
    overflow: hidden;
    line-height: 1.7rem;
    color: #fff;
    width: 111px;

    margin-bottom: 15px;
}

.discountText {
    background-color: rgb(38, 42, 43);
}

.line {
    position: relative;
    font-weight: 600;
    background: linear-gradient(97.09deg, #12a2b7 16.93%, #4acfd7 80.69%);
}

.line::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2.1rem 0.5rem 0 0;
    border-color: rgb(38, 42, 43) transparent transparent transparent;
}

.count {
    padding: 0 10px;
}