.smooth {
    transition: color 0.2s;
    cursor: pointer;
}

.white {
    color: var(--white);
}

.white:hover {
    color: var(--pearl-gray);
}

.gray {
    color: var(--dark-gray);
}

.gray:hover {
    color: var(--gray-suit);
}

.upperCase {
    text-transform: uppercase;
}

/* a{
	color: inherit;
} */

/* a:hover {
    color: inherit;
} */
