.main {
    padding-bottom: 56px;
}

.wrapper {
    max-width: 264px;
}

.container {
    /* display: flex; */
    /* display: flex; */
    /* grid-template-rows: repeat(2, 1fr); */
    /* grid-template-columns: repeat(5, 1fr); */
    /* flex-direction: column; */
    /* gap: 20px; */
    /* flex-wrap: wrap; */
}

/* 
.content > div {
    width: 100%;
} */

.img {
    margin-bottom: 20px;
}