.container {
    user-select: none;
}

.justifiedContainer div[class~="react-horizontal-scrolling-menu--scroll-container"]{
    justify-content: space-between;
}

.content {
    width: 260px;
    height: 100%;
}

.main {
    background: var(--background);
    border-radius: 10px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main:hover{
    box-shadow: 0 0px 10px #0000003a;
}

.img {
    /* margin-bottom: 20px; */
    margin: 10px;
    max-height: 40px;
    max-width: 150px;
}

.img img {
    
    mix-blend-mode: darken;
}

.content .img:last-child {
    /* margin-bottom: 0; */
}

@media (max-width: 425px) {
    .container {
        padding-bottom: 10px;
    }
}
