.header {
    font-weight: 500;
    top: 0;
    position: sticky;
    width: 100%;

    z-index: 3;
    background: var(--white);
}

@media (max-width: 425px) {
    .header {
        position: static;
    }
    .bottom {
        display: none !important;
    }
}
