.main {
    background: var(--background);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    mix-blend-mode: darken;
}

.main:hover {
    /* background-color: var(--light-gray); */
    box-shadow: 0 0px 10px #0000003a;
}