.main {
    background: var(--background);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
}

.img {
    mix-blend-mode: darken;
}
