.arrow {
    width: 10px;
    height: 10px;
}

.blue {
    border: solid var(--blue);
}

.red {
    border: solid var(--red);
}

.red:hover {
    border: solid var(--red-hover);
}

.i{
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
}