.footer {
    background-color: var(--dark-gray);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--white);
}

.top {
    border-bottom: 1px solid var(--gray-border);

    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-gap: 10px;

    padding: 35px 0;
} 

.bottom {
    padding: 32px 0;
}

.bottom * {
    color: white;
}

.main {
    padding: 35px 0;
    border-bottom: 1px solid var(--gray-border);
}

.btn {
    color: var(--white);
    max-width: 150px;
}

.btn div {
    white-space: nowrap;
}

.img {
    /* height: 56px; */
    /* width: 124px; */
    filter: brightness(0) invert(1);
}

@media (max-width: 1024px) {
    .img {
        width: 205px;
        height: 16px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding-bottom: 60px;
    }

    .main {
        padding-bottom: 64px;
    }

    .img {
        width: 165px;
        height: 13px;
    }
}

@media (max-width: 425px) {
    .btn{
        display: none;
    }

    .footer {
        padding-bottom: 40px;
    }
}