.main {
    padding-top: 20px;
    padding-bottom: 40px;
    min-height: 100vh;
}

.content {
    display: flex;
    grid-gap: 20px;
}

.container {
    width: 100%;
}

.aside {
    max-width: 340px;
    min-width: 240px;
    width: 100%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    padding: 0 30px 30px;
}

.display {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1250px) {
    .card {
        padding: 0 10px 10px;
    }
}

@media (max-width: 800px) {
    .content {
        flex-direction: column;
    }
}

@media (max-width: 425px) {
    .main {
        padding-bottom: 0;
    }

    .products {
        justify-content: center;
    }
}