.main {
    padding-top: 20px;
    padding-bottom: 40px;
    min-height: 100vh;
}

.content {
    display: flex;
    grid-gap: 20px;
}

.aside {
    max-width: 340px;
    min-width: 240px;
    width: 100%;
}

.products {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1250px) {
    .products {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media (max-width: 425px) {
    .main {
        padding-bottom: 0;
    }
}