.main {
    min-height: 100vh;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.main > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ul{
    margin: 10px;
}

.finished{
    color: var(--success);
}