.main {
    max-height: 365px;
    height: 100%;
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    position: relative;
    margin-bottom: 10px;
}

.discount {
    position: absolute;
    bottom: 0px;
    right: 5px;
    background: var(--discount);
    clip-path: polygon(100% 15%, 100% 60%, 0 85%, 0 40%);
    padding: 20px 10px;
}

.discountText {
    transform: rotate(-15deg);
    font-weight: bold;
    color: var(--white);
}

.shadow {
    filter: drop-shadow(2px 2px 1px rgba(35, 35, 63, 0.9));
}

.img {
    width: 200px;
    height: 200px;
}

.p {
    font-size: 15px;
    line-height: 20px;
}

.rating {
    margin-bottom: 5px;
}

.title {
    overflow: hidden;
    max-height: 40px;
    margin-bottom: 10px;
}

.btnGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconBtn {
    padding: 10px;
    cursor: pointer;
}

.prices {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    font-weight: 400;
}

.prevPrice {
    color: var(--light-gray-hover);
    text-decoration: line-through;
    font-size: 18px;
}

.curPrice {
    margin-right: 10px;
    font-size: 24px;
}

@media (max-width: 767px) {
    .img {
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 425px) {
    .img {
        max-width: 116px;
    }
    .prices {
        white-space: nowrap;
    }
}
