.wrapper {
    background-color: var(--dark-gray);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: nowrap;
}

.iconWithText {
    display: flex;
    align-items: flex-end;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav p {
    margin: 0 10px;
}

@media (max-width: 1025px) {
    .mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .wrapper {
        background: none;
    }

    .icon {
        color: var(--pearl-gray);
    }
}

@media (max-width: 1024px) {
}
